node_modules/
dist/
coverage/
.battle/
lcov.info
lcov-report/
*.log
.DS_Store
ffmpeg2pass-0.log*
/tmp/
tmp/
deno-tests/integration/tmp_battle/
deno-tests/integration/tmp_newfeatures/
tests/integration/tmp_battle/
tests/integration/tmp_cli/
tests/integration/tmp_cov/
tests/integration/tmp_gaps/
tests/integration/tmp_gaps2/
tests/integration/tmp_gaps3/
tests/integration/tmp_lib/
tests/integration/tmp_nf/
tests/integration/tmp_newfeatures/
tests/integration/tmp/
.yarn/
docs/
*.lock
*.mp4
*.jpg
*.png
.ts2js/
