node_modules/
dist/
coverage/
.battle/
lcov.info
lcov-report/
*.log
.DS_Store
ffmpeg2pass-0.log*
/tmp/
tmp/
deno-tests/tmp_battle/
tmp_battle/
tmp_cli/
tmp_cov/
tmp_gaps/
tmp_gaps2/
tmp_gaps3/
tmp_lib/
.yarn/
docs/
*.lock
*.mp4
*.jpg
*.png
.ts2js/